/* Charles Goodwin || PennCodingBootCampJan18 */

/*########################################################################################################*/
/* BEGIN formatting applicable to elements regardless of page location */
/*########################################################################################################*/
.clearfix::after {
    content: “”;
    display: block;
    clear: both;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/backgrounds/crossword.png");
    background-repeat: repeat;
    min-height: 600px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: #62a7a4;
}

.cursive{
    font-family: cursive;
    font-size: 1.2em;
}

.right_picture {
    float:right; 
    padding:0 0px 10px 10px;   
}

.fancy_quote {
    border: 2px darkgray double;
    text-align: center;
    font-family: cursive;
}

/* so this is really better than 'style="text-align: 
enter"'?  It's a rhetorichal question */
.center_text {
    text-align: center;
}

#wrapper {
    position: relative;
    margin: auto; 
    margin-bottom: 15px;
    max-width: 960px;
    display: block;
    overflow: auto;
    /* border: 2px darkgray dotted; */
}
/*########################################################################################################*/
/* END formatting applicable to elements regardless of page location */
/*########################################################################################################*/

/*########################################################################################################*/
/* BEGIN formatting for header section and its contents */
/*########################################################################################################*/

#page_header {
    /* set to relative to use absolute positioning in inner elements */
    position: relative;
    /* assures that header takes an entire line*/
    display: block; 
    border-top: 2px #cccccc solid;
    border-bottom: 2px #cccccc solid;
    background-color: #ffffff;
    /* if height isn't specified, then the header vanishes. why??? */
    height: 75px; 
}

#name_logo {
    /* making default value explicit */
    display: block; 
    /*this positions element relative to page_header */
    position: absolute; 
    /* make sure element reaches bottom */
    bottom: 0%;
    /* pin to top left of container */ 
    top: 0%;  
    left: 0%; 
    float: left;
    width: 30%;
    text-align: center;
    /* border: Opx; */
    color: white;
    background-color: #62a7a4;
}

.h2_name { /* this style is used to make the type in the name tab white */
    margin: 1em auto 0px auto;
    color: white;
}

.border_bottom {
    border-bottom: 2px gray solid;
}

#page_top_menu {
    position: absolute;  /* this positions element relative to header */
    float: right;
    margin: auto;
    top: 0%;
    bottom: 0%;
    right: 0%;
    width: 68%;
}

#page_top_menu ul {
    position: absolute; /* allows us to position wrt top of div-header */
    margin-top: 2em;
    right:0;
    /* background-color: blue; */
}

#page_top_menu li {
    /* makes menu horizontal */
    display: inline; 
    /* no disks or dingbats */
    list-style: none; 
    /* putting space around menu items */
    padding-right: 10px; 
    padding-left: 10px; 
    /* putting a "|" between menu items */
    border-right: 1px gray solid; 
}

li.active {
    font-weight: bold;
}

#page_top_menu li:hover {
    background-color: #AAA;
    color: white;
}

#page_top_menu li:last-child {
/* patch to eliminate unneeded line at right end of nav menue */
    border-right: none; 
}

#page_top_menu a{
    text-decoration: none;
    color: inherit;
}
/* END formatting for HEADER section and its contents */

/* BEGIN formatting for MIDDLE section and its contents */
#mid_page { /* container holding substantive content */
    position: relative;
    display: block;
    overflow: auto;
    clear: left;
    min-height: 500px;
    /* margin-bottom: 10%; */
}

.main {
    clear: left;
    float: left;
    background-color: #ffffff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 650px;
    border: .5px #62a7a4 solid;
    /* padding: 50px; */
    /* margin-left: 100px; */
    
}

#headshot {
    float: left;
    border: 1px black solid;
    margin: 10px;
}

.bio_text {
    margin: 0 15px 15px 15px;
    line-height: 1.2em;
}

.main_inside {
    /* margin: 0 5% 5% 5%; */
    padding: 5%;
    /* border: 2px red solid; */
} 

/* .sidebar_holder {
    position: relative;
} */

.sidebar {
    position: relative;
    margin: 5% auto 0 auto;
    padding-top: 1em;
    /* float: right; */
    width: 270px;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: #ffffff;
    border: .5px #62a7a4 solid;
}

.sidebar_invisible {
    float: left;
    width: 0;
    height: 0;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.aside_text {
    margin: 0 15px 15px 15px;
    line-height: 1.2em;
    font-size: 0.8em;
    text-align: justify;
}



.portfolio_slide_frame {
    position: relative;
    display: grid;
    /* width: 100%; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    background-color: #fff;
    text-align: center;
}

.portfolio_slides {
    /* background-color: #62a7a4; */
    height: 200px; 
    max-width: 100%;
    max-height: 100%;
    border-bottom: 25px white solid;
}

.portfolio_image {
    max-width: 100%;
    max-height: 100%;
    /* width: 100%; */
    overflow: hidden;
}

.portfolio_title {
    position: relative;
    top:0%;
    margin-top: 10px;
    left: 0%;
    color: #62a7a4;
    /* max-width: 70%;*/
    /* z-index: 99; */
    /* background-color: #62a7a4; */
}

.form_text {
    font-size: 1em;
    line-height: 1.5em;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: #62a7a4;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
}

.input_text {
   background-color: #D7DDDD; 
   width: 70%;
   height: 2em;
   font-size: 1em;
   border: 0px;
   border-radius: .5em;
}

.input_textarea {
    background-color: #D7DDDD;
    display: block;
    width:100%;
    font-size: 1em;
    border-radius: 0.5em;
    border: 0px;
}

.input_submit {
    border: 0px black double;
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #62a7a4;
    border-radius: .5em;
    margin-top: 10px;
    width: 25%;
}
/*########################################################################################################*/
/* END formatting for MIDDLE section and its contents */
/*########################################################################################################*/

/*########################################################################################################*/
/* BEGIN formatting for FOOTER section and its contents */
/*########################################################################################################*/
#page_bottom {
    display: block;
    position: relative;
    width: 100%;
    height: 70px;
    clear: left;
    font-size: 0.5em;
    text-align: center;
    line-height: 70px;
    /* vertical-align: middle; */
    color: white;
    background-color: #666666;
    border-top: 5px #62a7a4 solid;
    /* border: 1px red dashed; */
}
/*########################################################################################################*/
/* END formatting for FOOTER section and its contents */
/*########################################################################################################*/

/*########################################################################################################*/
/* BEGIN 769px - 959px || narrow screens but not as narrow as cellphones */
/*########################################################################################################*/

@media screen and (max-width: 960px) and (min-width:769px) {

    .main {
        display: block;
        clear: both;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border:none;
    }

    .main_inside {
        width: 80%;
        margin: auto;
        padding: 10px;
    }

    .mid_page {
        position: relative;
        display: block;
        clear: left;
        height: auto;
    }

    .sidebar_holder {
        position: relative;
    }

    .sidebar {
        position: relative;
        float: left;
        width: 45%;
        margin: 0 0 0 0;
    }

    .sidebar:-child {
        clear: left;
        border:1px tomato dotted;
    }

    .sidebar:last-child {
        float: right;
    }

    .sidebar_invisible {
        width: 25%;
        height: 2px;
        border: none;
        margin: 0;
        background-color: transparent;
    }

    #page_bottom {
        clear: left;
        width: 100%;
        display:block;
        text-align: center;
        /* background-color: yellowgreen; */
    }
  
    /* .portfolio_slides {
        background-color: transparent;
        height: 267px;
    } */

    .portfolio_image {
        max-width: 100%;
        max-height: 100%;
    }

    .portfolio_title {
        position: relative;
        top: 0%;
        /* margin-bottom: 10px; */
    }
}
/*########################################################################################################*/
/* END 769px - 959px || narrow screens but not as narrow as cellphones */
/*########################################################################################################*/

/*########################################################################################################*/
/* BEGIN <= 769px  || smartphones
/*########################################################################################################*/

@media screen and (max-width: 768px) {

    .main {
        border: none;
        min-width: 0px;
        width: 90%;
        display: block;
        clear: both;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
    }

    .main_inside {
        width: 80%;
        margin: auto;
        border: none;
    }

    #mid_page {
        position: relative;
        display: block;
        clear: left;
        height: auto;
        width: 100%;
    }

    .portfolio_slide_frame {
        position: relative;
        display: grid;
        width: 100%;
        background-color: #fff;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
    }

    .portfolio_slides {
        background-color: transparent;
        /* height: 267px; */
        margin: 5px auto 5px auto;
    }

    /* .portfolio_image {
        width: 200px;
    } */

    /* .portfolio_title {
        position: relative;
        top: -20%;
        max-width: 50%;
        margin: 10px auto 5px auto;
        z-index: 99;
        /* background-color: #62a7a4; */
        /* background-color: transparent;
        color: black;
        text-shadow: white 1px 1px;
        font-size: 1em;
        text-align: center; */
    /*} */

    .portfolio_title {
        position: relative;
        top: 0%;
        /* margin-bottom: 10px; */
    }

    .sidebar_holder {
        position: relative;
        display: block;
        clear: left;
    }

    .sidebar {
        clear: left;
        /* float: left; */
        width: 100%;
        display: block;
        /* margin: auto; */
        border-left: none;
        border-right: none;
    }

    .sidebar_invisible {
        clear: left;
        width: 0;
        height: 0;
        border: none;
        margin: 1px;
        background-color: transparent;
    }

    .sidebar:last-child {
        float: right;
    }

    .aside_text {
        margin: auto;
        width: 80%;
    }

    #page_bottom {
        clear: left;
        width: 100%;
        display:block;
        text-align: center;
    }
}
/*########################################################################################################*/
/* END <= 769px  || smartphones
/*########################################################################################################*/